[Date]
date.timezone = {{ php_date_timezone }}

[PHP]
upload_max_filesize = {{ php_upload_max_filesize }}
post_max_size = {{ php_post_max_size }}
display_errors = {{ php_display_errors }}
memory_limit = {{ php_memory_limit }}